body{
background:#0f1117;
color:white;
font-family:Arial;
}

header{
text-align:center;
padding:20px;
background:#171b26;
color:#ffb347;
}

.container{
width:95%;
max-width:1200px;
margin:auto;
}

.card{
background:#171b26;
padding:15px;
margin:15px 0;
border-radius:10px;
}

button{
background:#3a86ff;
color:white;
padding:10px;
border:none;
border-radius:8px;
cursor:pointer;
}

button:hover{
opacity:0.8;
}

.jugador-item,
.participante{
display:flex;
justify-content:space-between;
margin:5px 0;
padding:8px;
background:#202636;
border-radius:6px;
}

.ruleta-container{
height:100px;
display:flex;
align-items:center;
justify-content:center;
background:#0d1320;
border:2px solid #3a86ff;
margin-bottom:10px;
}

.equipos{
display:flex;
gap:10px;
}

.equipo{
flex:1;
background:#202636;
padding:10px;
border-radius:10px;
}

.ultimo-sorteado{
color:#ff3b3b;
font-weight:bold;
text-shadow:0 0 10px red;
}

.mapa-ganador{
color:#ffd700;
font-weight:bold;
font-size:18px;
}
.ultimo-sorteado{
color:#ff3b3b;
font-weight:bold;
text-shadow:0 0 10px red;
}

.mapa-ganador{
font-size:20px;
margin:5px 0;
animation:pop 0.3s ease-in-out;
}

@keyframes pop{
from{transform:scale(0.8);opacity:0;}
to{transform:scale(1);opacity:1;}
}
.jugador-select{
display:flex;
align-items:center;
gap:10px;
padding:8px;
background:#202636;
margin:5px 0;
border-radius:6px;
}

.jugador-select select{
margin-left:auto;
}
